.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #F5F4FA;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.table {
    font-family: Raleway, cursive;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    border: 1px;
    margin: 0 auto;
}

.tabborcolor {
    color:#2F303A;
}

.intervals {
    padding: 5px 10px;
}